[core]
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	trustctime = false
	editor = nvim
	autocrlf = input
[gpg]
	format = ssh
[commit]
	gpgsign = true
[include]
    path = ~/.gitconfig.local
