[core]
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	trustctime = false
	editor = nvim
	autocrlf = input
[gpg]
	format = ssh
[commit]
	gpgsign = true
[include]
    path = ~/.gitconfig.local
[includeIf "exists:/Applications/1Password.app/"]
    path = ~/.gitconfig-1password-mac
[includeIf "exists:/opt/1Password/"]
    path = ~/.gitconfig-1password-linux
